
*{
    box-sizing: border-box;
}

body{
    background-color: rgb(174, 174, 174);
    display: flex;
    flex-direction: column ;
    gap: 1rem;
}

header
{
    display: flex;
    width:100%;/*relative width*/
    height:5rem;/*relative height*/
    /*height:100px  fixed height*/
    background-color: white;
    justify-content: space-around;
}

main
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


section
{
    padding-left: 10px;
    display: flex;
    width: 100%;
    height: 30rem;
    background-color: white;
    flex-direction: row;
    align-items: center;
}

aside
{
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 30rem;
    background-color: white;
    border: 1px solid black;
}

ol
{
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: upper-roman;
    
}


aside ul
{
    
    flex-direction: column;
    gap: 1rem;
    font-size: large;
}
   
footer
{
    background-color: white;
    height: 50rem;
}

ul
{
    font-size: large;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

nav ul li:first-child{ /*Pseudo Class*/
    font-weight: bold;
}

.logo{
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: greenyellow;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center; /*horizontal center*/
    align-items: center; /*vertical center*/
}

.brand {
display: flex;
align-items: center;
gap: 1rem;
}

form
{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 100%;
    gap: 1rem;
}

form input
{
    font-size: 1rem;
    width: 80%;
    height: 3rem;
    border-radius: 0.5;
    gap: 1rem;
    padding-left: 1.5rem;
}

form button {
width: 40%;
height: 3rem;
margin-top: 1rem;
margin-left: auto;
margin-right: auto;
background-color: navy;
color: white;
font-size: 1.2rem;
border: none;
}
 
/*dt,dd
{
    display: inline;
    margin: 0;
}*/

td, th, tr{
    border: 1px solid black !important;
    font-size: 1.5rem;
    text-align: center;
}

table{
    gap: 2rem;
    border-collapse: collapse;
    width: 70%;
    flex-direction: row;
    margin-left: 2rem;
}

